@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Linq
@model Lekkerbek.Web.Models.Bestelling

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Bestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Levertijd" class="control-label"></label>
                <input asp-for="Levertijd" class="form-control" />
                <span asp-validation-for="Levertijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opmerkingen" class="control-label"></label>
                <input asp-for="Opmerkingen" class="form-control" />
                <span asp-validation-for="Opmerkingen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalMaaltijden" class="control-label"></label>
                <input asp-for="AantalMaaltijden" class="form-control" />
                <span asp-validation-for="AantalMaaltijden" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Klant.UserName" class="control-label"></label>
            <select asp-for="Klant.UserName" class="form-control" asp-items="ViewBag.Klanten"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="GerechtenLijst" class="control-label"></label>
                <select asp-for="GerechtenLijst" class="form-control" asp-items="ViewBag.AlleGerechtenNamen" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tijdslot" class="control-label"></label>
                <select asp-for="Tijdslot" class="form-control" asp-items="ViewBag.Tijdslot"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Maak bestelling en voeg gerechten toe" class="btn btn-primary" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
