<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="UCLL-2020-2021-GiP-dag-Team11@Local" value="https://pkgs.dev.azure.com/UCLL-2020-2021-GiP-dag-Team11/_packaging/UCLL-2020-2021-GiP-dag-Team11%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>