@model Lekkerbek.Web.Models.Identity.Gebruiker
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Email is verstuurd</h1>
<p>Verstuurd naar: @Model.UserName</p>