@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Lekkerbek.Web.ViewModels.Kalender.KalenderIndexViewModel> 

<p>
    <button asp-controller="OpeningsUurs" asp-action="Create" class="btn btn-light">Openingsuren toevoegen</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tijdstip
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Gebruikersnaam)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@
            </th>
            
        </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model.First().Momenten)
    {

        <tr>
            <td>@Html.DisplayNameFor(item => item)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

    </tbody>
</table>
